# Ignore all raw per-journal OpenAlex TSVs
data_retrieval/files/raw_data/
data_cleaning/files/step_1/

# Ignore all Markdown documentation files (.md)
*.md

# Ignore temporary files
*.tmp
*.temp

# Ignore OS junk
.DS_Store
Thumbs.db
